<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SDK Test</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    .selfie {
      width: 75px;
      min-width: 75px;
      height: 75px;
      border: 1px solid black;
      margin-right: 0.25em;
    }

    .post {
      width: 450px;
      margin: 0 0.75em 1.5em 0.75em;
      text-overflow: ellipsis;
    }
  </style>
</head>
<body>

  {{{body}}}

  {{!-- Initiate the Yoti integration --}}
  <script src="https://sdk.yoti.com/clients/browser.2.1.0.js"></script>
  <script>_ybg.init()</script>

  {{!-- Clear the query string and path from the url, keeping the loginToken might be more useful but clearing it makes the app easier to evaluate --}}
  <script>window.history.pushState({ path: 'https://localhost:7362' }, '', 'https://localhost:7362')</script>

</body>
</html>
